// .box {
//     background: #2B2B2B;
//     padding: 32px;
//     border: 1px solid black;
// }

.box {
    align-self: center;
    border: solid 2px white;
    padding: 40px;
    height: 100vh;
    width: 20vw;
    min-height: 100px;
    background: salmon;
    overflow: scroll;
}